html {
    scroll-behavior: smooth;
}

body {
    background-image: url('tlo.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Ukrycie poziomego paska przewijania */
}

a {
    opacity: 0.6;
    transition: opacity 0.2s;
}

a:hover {
    opacity: 1;
    transform: scale(1.2);
}

.menu {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-sizing: border-box; /* Upewnienie się, że padding nie zwiększa szerokości */
}

.menu .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.menu .menu-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu .menu-items li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.cv-button {
    background-color: rgba(255, 204, 51, 0.46);
    margin-right: 20px;
}

.full-screen-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

#clock-container {
    text-align: center;
    margin-top: 10vh;
}

#clock {
    font-family: 'Miltonian', cursive;
    font-size: 12vw;
    animation: changeColorName 7.5s infinite alternate linear;
    font-weight: lighter;
}

#date {
    font-family: 'Miltonian', cursive;
    font-size: 4vw;
    animation: changeColorName 7.5s infinite alternate linear;
}

h1 {
    font-size: 12vw;
    margin: 0;
    animation: changeColorName 7.5s infinite alternate linear;
    font-family: 'Miltonian', cursive;
    margin-top: 5vh;
}

@keyframes changeColorName {
    0% { color: rgba(85, 202, 238, 1); }
    100% { color: rgba(137, 18, 216, 1); }
}

.color-changing-panel {
    width: 90%;
    max-width: 40vw;
    height: auto;
    border-radius: 25px;
    z-index: 10;
    animation: changeColorIkon 10s infinite alternate linear;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 5vh; /* Margines względny od góry */
    box-sizing: border-box; /* Upewnienie się, że padding nie zwiększa szerokości */
}

@keyframes changeColorIkon {
    0% { background-color: rgba(137, 18, 216, 0.5); }
    100% { background-color: rgba(85, 202, 238, 0.5); }
}

.social-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-links img {
    width: 6vw;
    height: 6vw;
}

.about-me-section {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 50px 20px;
    color: white;
    text-align: center;
    box-sizing: border-box; /* Upewnienie się, że padding nie zwiększa szerokości */
    margin-top: 40vw;
}

.neon-text-about {
    font-family: 'Vampiro One', cursive;
    animation: neonBlue 10s ease-in-out infinite normal;
    color: white;
    font-size: 5vw;
}

.about-me-section p {
    font-size: 2.5vw;
    line-height: 1.6;
}

@keyframes neonBlue {
    0% {
      text-shadow: 
        0 0 5px #228dff, 
        0 0 10px #228dff, 
        0 0 15px #228dff, 
        0 0 20px #228dff,
        0 0 20px transparent,
        -3000px 0 20px #228dff;
    }
    20% {
      text-shadow: 
        0 0 10px #228dff, 
        0 0 20px #228dff, 
        0 0 30px #228dff, 
        0 0 40px #228dff,
        0 0 20px transparent,
        -3000px 0 20px #228dff;
    }
    70% {
      text-shadow: 
        0 0 400px transparent, 
        0 0 450px transparent, 
        0 0 500px transparent, 
        0 0 550px transparent,
        3000px 0 20px #228dff,
        0 0 20px #228dff;
    }
    80% {
        text-shadow: 
        0 0 5px transparent, 
        0 0 15px transparent, 
        0 0 20px transparent, 
        0 0 25px transparent,
        3000px 0 0px #228dff,
        0 0 20px #228dff;
    }
    100% {
        text-shadow: 
        0 0 5px #228dff, 
        0 0 10px #228dff, 
        0 0 15px #228dff, 
        0 0 20px #228dff,
        3000px 0 0px transparent,
        0 0 20px transparent;
    }
}

.skills-section {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 50px 20px;
    box-sizing: border-box; /* Upewnienie się, że padding nie zwiększa szerokości */
}

.neon-text-V {
    font-family: 'Vampiro One', cursive;
    animation: neonViolet 1.5s ease-in-out infinite alternate;
    text-align: center;
    color: white;
    font-size: 5vw;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.skill {
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 25px;
    margin: 15px 15px;
    padding: 20px;
    width: 90%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: box-shadow 0.5s ease, transform 0.75s ease;
}

.skill-name {
    margin-bottom: 10px;
    font-size: 2vw; 
    color: white;
}

.skill-level {
    display: flex;
    justify-content: center;
}

.skill-level .fa-star {
    color: #ccc;
    margin: 0 2px;
    font-size: 1.5vw;
}

.skill-level .fa-star.filled {
    color: gold;
    font-size: 1.5vw;
}

.skills-subheading {
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.skills-gap {
    height: 50px;
}

.interests-section {
    color: white;
    font-size: 5vw;
    text-align: center;
    padding: 50px 20px;
    box-sizing: border-box;
}

.neon-text-interests {
    font-family: 'Vampiro One', cursive;
    animation: neonYellow 2.5s ease-in-out infinite alternate;
    text-align: center;
    color: white;
    font-size: 5vw;
}

.interests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.interest {
    background-color: #67019a59;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 90%;
    max-width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    font-size: 2vw;
    color: white;
}

.interest:hover {
    transform: scale(1.1);
}

@keyframes neonViolet {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #ff00de, 0 0 10px #ff00de;
    }
}

@keyframes neonYellow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ffdd1b, 0 0 70px #ffdd1b;
    }
    to {
      text-shadow: 0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .about-me-section {
        margin-top: 5vw;
    }
    .neon-text-about, .neon-text-V, .neon-text-interests {
        font-size: 4.5vw;
    }
    .about-me-section p, .skill-name, .skills-subheading, .interest {
        font-size: 2.2vw;
    }
    .skill-level .fa-star, .skill-level .fa-star.filled {
        font-size: 1.3vw;
    }
}

@media (max-width: 992px) {
    .neon-text-about, .neon-text-V, .neon-text-interests {
        font-size: min(7vw);
    }
    .about-me-section p, .skill-name, .skills-subheading, .interest {
        font-size: min(3vw);
    }
    .skill-level .fa-star, .skill-level .fa-star.filled {
        font-size: min(2vw);
    }
    .interest {
        max-width: 30vw;
    }
}

@media (max-width: 768px) {
    .menu .menu-toggle {
        display: block;
    }

    .menu .menu-items {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 50px;
        left: 0;
    }

    .menu .menu-items.show {
        display: flex;
    }

    .menu .menu-items li {
        margin: 10px 0;
    }

    .menu a {
        width: auto; /* Zmiana szerokości linków w menu */
        text-align: center;
        border: none;
    }

    .cv-button {
        width: auto; /* Zachowanie oryginalnej szerokości dla przycisku CV */
        margin: 10px 20px; /* Dostosowanie marginesu, aby wyglądał estetycznie */
    }

    #clock {
        font-size: 15vw;
    }
    
    #date {
        font-size: 6vw;
    }

    h1 {
        font-size: 15vw;
    }

    .color-changing-panel {
        min-width: 60vw;
    }

    .social-links img {
        width: 10vw; /* Zwiększenie szerokości ikon w panelu */
        height: 10vw; /* Zwiększenie wysokości ikon w panelu */
    }

    .neon-text-about, .neon-text-V, .neon-text-interests {
        font-size: min(7vw);
    }
    .about-me-section p, .skill-name, .skills-subheading, .interest {
        font-size: min(3vw);
    }
    .skill-level .fa-star, .skill-level .fa-star.filled {
        font-size: min(3vw);
    }

    .interest {
        max-width: 50vw;
    }
}

@media (max-width: 568px) {
    .menu .menu-toggle {
        display: block;
    }

    .menu .menu-items {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 50px;
        left: 0;
    }

    .menu .menu-items.show {
        display: flex;
    }

    .menu .menu-items li {
        margin: 10px 0;
    }

    .menu a {
        width: auto; /* Zmiana szerokości linków w menu */
        text-align: center;
        border: none;
    }

    .cv-button {
        width: auto; /* Zachowanie oryginalnej szerokości dla przycisku CV */
        margin: 10px 20px; /* Dostosowanie marginesu, aby wyglądał estetycznie */
    }

    #clock {
        font-size: 18vw;
    }
    
    #date {
        font-size: 8vw;
    }

    h1 {
        font-size: 18vw;
    }

    .color-changing-panel {
        min-width: 60vw;
    }

    .social-links img {
        width: 10vw; /* Zwiększenie szerokości ikon w panelu */
        height: 10vw; /* Zwiększenie wysokości ikon w panelu */
    }

    .neon-text-about, .neon-text-V, .neon-text-interests {
        font-size: min(10vw);
    }
    .about-me-section p, .skill-name, .skills-subheading, .interest {
        font-size: min(5vw);
    }
    .skill-level .fa-star, .skill-level .fa-star.filled {
        font-size: min(5vw);
    }
}

@media (max-height: 750px) {
    .full-screen-section {
        height: 250vh;
        max-height: 750px;
    }
}
